---

---

<html lang="en">
{% include head.html %}
<body>
{% include header.html %}
<main class="page-content" aria-label="Content" id="content">
    <div class="wrapper">
        <article class="post">
            <div class="post-content">
                <p>
                    <a href="https://github.com/chenlize96/" target="_blank">
                    <img alt="Lize Chen" src="/assets/img/profile.jpg"
                         style="float: right; max-width: 33%; margin: 0 0 1em 2em; border-radius: 999px"/>
                    </a>
                </p>

                <p>I’m Lize Chen, a full-stack engineer, a foodie and a biophile.</p>
                <p>
                    I graduated from Rice University in Dec 2022 with a Master's Degree in Computer Science.
                </p>
                <p>
                    I worked as a summer software engineer intern at <a href="https://oit.rice.edu/">
                    Rice University Office of Information Technology (OIT)</a>, prototyping React user 
                    interfaces for the largest data repository on voyage data between the 16th-19th century.
                </p>

                <p>
                    I was a teaching assistant helping the students who enrolled in COMP 311/544
                    Functional Programming (<a href="https://racket-lang.org/">Racket</a> &
                    <a href="https://www.haskell.org/">Haskell</a>) in Fall 2021.
                    Previously, I worked as a software engineer at <a
                            href="https://www.fujifilm.com/fbglobal/eng">FujiFilm</a> from 2020 to 2021.
                </p>

                <p>
                    I graduated with a B.S. degree in Computer Science and Mathematics (double major) at the
                    University of Arizona in 2020, the first time in 100 years, celebrate graduation in front of Old
                    Main instead of Arizona Stadium. I worked as an undergraduate research assistant in
                    <a href="http://ivilab.org/ugrad-current.html">Interdisciplinary Visual Intelligence Lab</a>
                    for one year. The research topic is <a href="https://ml4ai.github.io/tomcat/index.html">
                        Games that induce emotion for ToMCAT</a>.
                </p>

                <p>
                    Outside of my work, I am passionate about Asian food (Cantonese Cuisine, Japanese Ramen,
                    Korean BBQ) and mobile games (COC, Onmyoji). Also, I'm a Pokémon Go player (3006 7980 9435).
                </p>

                <p>
                    I'm always looking for new passions and adventures; feel free to send me a message :)
                </p>
         
                <p>
                    I’m best reached via email/LinkedIn. I’m always open to
                    interesting conversations and collaboration.
                </p>
            </div>

        </article>
    </div>
</main>
{% include projects.html %}
{% include misc.html %}
{% include list-100.html %}
{% include footer.html %}
</body>
</html>
