<footer class="site-footer" id="contact">
    <div class="wrapper">
        <header class="post-header">
            <h1 style="letter-spacing: -1px;line-height: 1">Contact</h1>
        </header>
        <!-- <h2 class="footer-heading">Leeze Chen</h2> -->
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li>
                        <img alt="email icon" src="/assets/img/icons/gmail-48.png" width="24px" height="24px"/>
                        chenlize96@gmail.com
                    </li>
                    <li>
                        <a href="https://github.com/chenlize96">
                            <img alt="github icon" src="/assets/img/icons/github-64.png" width="24px" height="24px"/>
                            chenlize96
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/chenlize96/">
                            <img alt="linked icon" src="/assets/img/icons/linkedin-48.png" width="24px" height="24px"/>
                            chenlize96
                        </a>
                    </li>
                    <li>
                        <img alt="lgbt icon" src="/assets/img/icons/lgbt-48.png" width="24px" height="24px"/>
                        Any pronouns
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
