<main class="page-content" aria-label="Content" id="projects">
    <div class="wrapper">
        <header class="post-header">
            <h1 style="letter-spacing: -1px;line-height: 1">Projects</h1>
        </header>
    <p>
        Most of my technical work is on <a href="https://github.com/chenlize96">GitHub</a>.
        Some of my recent projects:</p>

    <ul>
        <li>
            <a href="https://final-frontend-lc97.surge.sh">Blogging Platform</a>:
            a web application using React and NodeJS which can generate a unified feed 
            of articles based on the followed users.
        </li>
        <li>
            <a href="https://github.com/chenlize96/Integ_CRC">Voyages Website (React)</a>:
            prototype a standalone React web application that could replace the current 
            user interface for SlaveVoyages.org, the world's largest database of the 
            16th-19th century slave trade, with over 50,000 visitors per month
        </li>
        <li>
            <a href="https://github.com/chenlize96/chat-app">ChatApp</a>: a Chat app which uses
            websocket
        </li>
        <li>
            <a href="https://github.com/chenlize96/pacman">Pacman</a>: a classical browser game
            which implements A* search algorithm and multiple levels
        </li>
        <li>
            Pacwar:
            design a species that will annihilate every other species in a one-on-one duel 
            <a href="https://www.clear.rice.edu/comp440/modules/termproject/">[DESCR]</a>
        </li>
        <li>
            <a href="https://github.com/chenlize96/platform-game">Platform Game</a>:
            control the character using left, right, space - start the adventures in different worlds!
        </li>
        <li>
            <a href="https://github.com/chenlize96/connect-4">Connect-4</a>:
            connect four of your checkers in a row while preventing your opponent from doing the same
        </li>
        <li>
            <a href="https://github.com/chenlize96/cryptogram">Cryptogram</a>:
            a puzzle game where the goal is to decode famous quotes
        </li>
    </ul>
</div>
</main>